.loginBox {
  max-width:  90%;
  width: 500px
}


.form-simple .font-small {
    font-size: 0.8rem; }
  
  .form-simple .header {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem; 
  }
  
  .form-simple input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ff3547;
    -webkit-box-shadow: 0 1px 0 0 #ff3547;
    box-shadow: 0 1px 0 0 #ff3547; }
  
  .form-simple input[type=text]:focus:not([readonly]) + label {
    color: blue; }
  
  .form-simple input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #ff3547;
    -webkit-box-shadow: 0 1px 0 0 #ff3547;
    box-shadow: 0 1px 0 0 #ff3547; }
  
  .form-simple input[type=password]:focus:not([readonly]) + label {
    color: blue }
  
  .noSpan span{
    display:none;
  }
  /* width */
  ::-webkit-scrollbar {
      width: 8px;
      margin-right:-20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555; 
  }
  
  .card {
          margin: 0 auto; /* Added */
          float: none; /* Added */
          margin-bottom: 10px; /* Added */
  }
  
  
  .card-upload > label {
    text-transform: none;
  }
  
  .card-upload > label > input{
    padding: 0;
    margin-bottom: 0;
  }
  
  .loader-gif {
    max-width: 16%;
  }
  
  .login_status {
    margin-bottom: 0;
  }
  
  .upload-button {
    margin-top: 0;
  }
  
  
  a.loading, button.loading {
    cursor: not-allowed;
    background-color: #A20D3B;
  }
  
  a.loading > .load-circle, button.loading > .load-circle {
    /* border: 3px solid #B2B2B2; /* grey */
    /* border-top: 3px solid #A20D3B;
    border-radius: 50%; */ 
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  div.loading {
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }
  
  div.loading > .load-circle {
    /* border: 14px solid #B2B2B2; 
    border-top: 14px solid #ce073f;
    border-radius: 50%; */
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #homeLink {
    display: none;
  }