<div class="container" style="margin-top: 30px">
  	<div class="card" style="width: 80%">
  <h5 class="card-header">Profile</h5>
    	<div class="card-body">

      		<div class="row">
      			<div class="col-md-2">
            		<img class="card-img-top" src="./assets/profile.jpg" alt="Card image cap">
        		</div>
        		<div class="col-md-10">
		          <h3>&nbsp;Dr.Venkatramana Gangasagar</h3>
		          <p style="line-height: 5px;">&nbsp; MBBS</p>
		          <p style="line-height: 5px;"> &nbsp; General Physician, 25 Years Experience</p>
		          <p style="line-height: 5px;">&nbsp;&nbsp;<i class="far fa-check-circle" style="color:green"></i>&nbsp;Medical Registration Verified
		          	<p  style="color:green">&nbsp;&nbsp;<i class="fas fa-thumbs-up" style="color:green"></i>&nbsp;&nbsp;93%
		          	<p>Dr.Venkatramana Gangasagar is a well known physician cardio diabetologist in Delhi, having expertise of 25 years practicing medicine for infectious disease, diabetes, cardio-vascular disorders, chest diseases like asthma and thyroid disorders. He has done his MBBS from Govt. S.S Medical College, Rewa (M.P.) in 1993. He is specialized in critical care. He has worked in different ICU set ups from 1995 to 2007 and treated so many critically sick patients working in hospitals like Sunderlal Jain Charitable Hospital, Mata Chanan Devi Hospital etc. </p>
		      	</div>
      		</div>
      		<hr>
		<h5>Services</h5>
      		<div class="row" style="margin-top: 18px;">
      			
      			<div class="col-md-4"  style="line-height: 10px;">
      				
      					<p>Vaccination/ Immunization</p>
      					<p>Nebuliser</p>
      					<p>Treating Critically Sick Patients</p>
      					<p>Geriatric Healthcare</p>
      					<p>Neck Pain Treatment</p>
      				
      			</div>
      			<div class="col-md-4" style="line-height: 10px;">
      				
      					<p>Blood Sugar Check up</p>
      					<p>Health Screening and Check-up</p>
      					<p>Acute Diarrhea Treatment</p>
      					<p>Chickenpox Treatment</p>
      					<p>Men and Women Wellness Screening</p>
      				
      			</div>
      			<div class="col-md-4" style="line-height: 10px;">
      				
      					<p>Electrocardiography (ECG)</p>
      					<p>Geritric Problems</p>
      					<p>Yellow fever Treatment</p>
      					
      			
      			</div>
      		</div>
      		<hr>
      		<div class="row">
      			<div class="col-md-6">
      				<h5>Specializations</h5>
      				<p>General Physician</p>
      			</div>
      			<div class="col-md-6">
      				<h5>Awards and Recognitions</h5>
      				<p style="line-height: 10px;">Best Worker Award IMA - 2016</p>
      				<p style="line-height: 10px;">Certificate Program on "Diabetic Gastroparesis" - 2013</p>
      			</div>
      		</div>
      		<hr>
      		<div class="row">
      			<div class="col-md-6">
      				<h5>Education</h5>
      				<p>MBBS - Govt. S S Medical College , Rewa, M.P, 1993</p>

      			</div>
      			<div class="col-md-6">
      				<h5>Memberships</h5>
      				<p style="line-height: 10px;">Indian Medical Association (IMA)</p>
					<p style="line-height: 10px;">Association of Physicians of India (API)</p>
      			</div>
      		</div>


  		</div>
	</div>
</div>